<footer class="footer">
    <small>
        The <a herf="http://www.google.com/"> Ruby on rails project</a>
        by <b>vishwajeet shinde.</b>
    </small>
    <nav>
    <ul>
        <li> <%= link_to "About", '#' %></li>
        <li> <%= link_to "Contact" , '#' %></li>
        <li> <a href="http://www.ggoel.com/" > Google Search </a></li>
    </ul>
    </nav>
</footer>