<header class="navbar navbar-fixed-to navbar-inverse" id="header">
<div class="container">
    <%= link_to "Sample app", '#' ,id: "logo" %>
    <nav> 
    <ul class="nav navbar-nav pull-right">
        <li> <%= link_to "Home", '#' %></li>
        <li> <%= link_to "Help", '#' %></li>
        <li> <%= link_to "login", '#' %></li>

    </nav>
</div>
</header>